body, html{
  height:100%;
  background-image: url(https://patricia1957.files.wordpress.com/2012/03/kusama_photocredit-lucy-dawkins_tate-photography_0261.jpg);
  background-size: contain;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}e
.title, .addDancerButton, .lineUpButton {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid yellow;
  border-radius:10px;
  position:absolute;
}

.bubbleDancer{
  border:20px solid lightblue;
}

.spinDancer{
  width: 20px;
  height:40px;
  border:30px solid black;
}